<a href="https://colab.research.google.com/github/shakedseller/MCON-232-Module-3-FQ-Shaked-Seller/blob/main/MCON_232_FQ_module3_strings_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 3 – Strings Lab

**MCON 232 FQ – In‑Class Lab Notebook**

This notebook is for you to work through during class.  
Run cells, try small experiments, and complete the **TODO** parts.

⚠️ *Do not erase the prompts.*  Add your work **below** the comments or where indicated.

In [14]:
new_str = "Duffy"
lower_str = new_str.lower()
upper_str = new_str.upper()

print(lower_str)
print(upper_str)

print()
for i in range(len(new_str)):
  print(new_str[i])

print()
print(len(new_str))

duffy
DUFFY

D
u
f
f
y

5

In [4]:
the_str = "Hello"
print(id(the_str))
the_str += " world"
print(id(the_str))

137079799406704
137079799377648

## 1. Strings as Sequences
A string is a sequence of characters. You can use `len()`, indexing, and slicing, just as with other sequence types.

Below we define a sample string to explore:

In [11]:
s = "Touro LAS"
print("The string is:", s)
print("Length of s:", len(s))  # Example

# TODO: Print the first and last character of s using indexing.
# print("First character:", ...)
# print("Last character:", ...)
print(f"First character: {s[0]}")
print(f"Last character: {s[-1]}")

The string is: Touro LAS
Length of s: 9
First character: T
Last character: S

In [12]:
# TODO: Explore some slices of s.
s = "Touro LAS"

# Example (already done for you):
print("s[0:4]:", s[0:4])   # expect Tour

# Now you try:
# 1) Print the slice that gives you just "LAS".
# 2) Print the slice that gives you "Touro".
# 3) Print the slice that gives you everything except the first character.
# Use print() so you can see the results.

print(s[6:])
print(s[:5])
print(s[1:])

s[0:4]: Tour
LAS
Touro
ouro LAS

### Reflection
- In slicing `s[start:stop]`, which index is **included**?  
- Which index is **not included**?
- What does a negative index (e.g. `s[-1]`) refer to?

Write a short explanation in a comment in the cell below.

In [ ]:
# TODO: In comments, explain slicing in your own words.
# For example: start is ..., stop is ..., negative indices mean ...

## 2. Iterating Over Strings
Strings are **iterable**, so you can loop through them character by character.

In [15]:
school = "Touro"

print("Iteration style #1 – direct:")
for ch in school:
    print(ch)

# TODO: Using range(len(school)), print the index and the character on each line.
# Example format: Index 0: T
# for i in range(...):
#     ...

for i in range(len(school)):
  print(f"Index {i}: {school[i]}")

Iteration style #1 – direct:
T
o
u
r
o
Index 0: T
Index 1: o
Index 2: u
Index 3: r
Index 4: o

In [16]:
# TODO: Use enumerate() to loop over school and print both index and character.
school = "Touro"

# for idx, ch in ...:
#     ...

for index, char in enumerate(school):
  print(f"Index: {index}: {char}")

Index: 0: T
Index: 1: o
Index: 2: u
Index: 3: r
Index: 4: o

## 3. Membership Tests
You can test whether a substring is contained in a string using `in` and `not in`.

In [19]:
phrase = "Touro Graduate Center for Technology"

print("our" in phrase)      # example
print("xyz" in phrase)      # example

# TODO: Write 3 more membership tests below.
# 1) Something that should be True.
# 2) Something that should be False.
# 3) A test using "not in".
# Print the results so you can verify your predictions.
print()
print("Shaked's membership tests:")
print("echno" in phrase)
print("user manual" in phrase)
print("ology" not in phrase)
print("something" not in phrase)

True
False

Shaked's membership tests:
True
False
False
True

## 4. Immutability in Action
Strings are **immutable**. You cannot change them in place; you must create a new string.

In [24]:
s = "Hello"
print("Original:", s)

# Uncomment the next line and run to see what happens:
# s[0] = "J"  # This should raise a TypeError

# TODO: Instead of trying to modify s in place, build a NEW string
# that changes the H to J (so the result is "Jello").
# Hint: use slicing and concatenation.
# new_s = ...
# print("New string:", new_s)
new_s = s.replace("H", "J")
print(f"New String: {new_s}")

Original: Hello
New String: Jello

In [20]:
ex = "Hello world"
split_ex = ex.split()

for i in range(len(split_ex)):
  print(split_ex[i])

# This will join each with a space in the middle
# That space in the beginning decides that a space will be in between when the strings
# are joined
" ".join(split(ex))

Hello
world

## 5. Common String Methods (Reference)
Here are some string methods you may find useful in the next exercises:

- `s.lower()` – return a lowercase version of the string
- `s.upper()` – return an uppercase version of the string
- `s.strip()` – remove whitespace at the start and end
- `s.isalpha()` – True if all characters are letters
- `s.isdigit()` – True if all characters are digits
- `s.isspace()` – True if the string is all whitespace
- `s.startswith(x)` / `s.endswith(x)` – test prefixes/suffixes
- `s.find(x)` – find first index of `x` or -1 if not found
- `s.replace(old, new)` – return new string with replacements
- `s.split(delim)` – split into a list on `delim` (or whitespace)
- `'sep'.join(list)` – join list of strings with a separator

You do **not** need to memorize all of these right now, but practice will make them feel natural.

In [29]:
this_s = "   Cosmo and Duffy   "
replacement = "and"
new_s_2 = this_s.strip().upper().replace(replacement.upper(), "&")

print(new_s_2)

COSMO & DUFFY

In [30]:
s1 = "Duffy"
s2 = "Cosmo"

# D comes after C
s1 < s2
# C comes before D
s2 > s1

False

### 5.1 Cleaning Up Input
Suppose we get messy user input with extra spaces and mixed case.
Use string methods to clean it up.

In [39]:
raw_name = "   cHaNa   "
print("Raw:", repr(raw_name))

# TODO: 1) Remove the extra spaces at the start and end.
# TODO: 2) Convert the result to title case (first letter capitalized).
# Hint: you can use strip() and either lower()/upper() creatively,
# or try .capitalize() or .title().

# cleaned = ...
# print("Cleaned:", cleaned)
cleaned = raw_name.strip().title()
#cleaned = cleaned[0].upper() + cleaned[1:]

print(f"Cleaned: {cleaned}")

Raw: '   cHaNa   '
Cleaned: Chana

### 5.2 Splitting and Joining
Use `split()` to break a string apart, and `' '.join(...)` to put it back together.

In [41]:
data = "apple,banana,pear,grape"
print("Original:", data)

# TODO:
# 1) Split data into a list of fruits using a comma as the delimiter.
# 2) Print the list.
# 3) Join the list back together using " | " as the separator.
#    The final string should look like: "apple | banana | pear | grape"

fruit_list = data.split(",")
print(fruit_list)
new_fruit = "|".join(fruit_list)
print(new_fruit)

Original: apple,banana,pear,grape
['apple', 'banana', 'pear', 'grape']
apple|banana|pear|grape

### 5.3 Find and Replace
Practice using `find()` and `replace()`.

In [42]:
sentence = "Touro is great. I love Touro!"

# TODO:
# 1) Use find() to locate the first index where "Touro" appears.
# 2) Use replace() to change "Touro" to "Touro College" in the sentence.
# 3) Print the original and the modified sentence.

# Remember: replace() returns a NEW string.
first_idx = sentence.find("Touro")
modified_s = sentence.replace("Touro", "Touro College")
print(sentence)
print(modified_s)

Touro is great. I love Touro!
Touro College is great. I love Touro College!

In [68]:
# Anagrams
def is_anagram(s1, s2):
  s1_list = sorted(s1.lower())
  s2_list = sorted(s2.lower())

  if s1_list == s2_list:
    return True

  else:
    return False

print(is_anagram("Duffy", "Cosmo"))
print(is_anagram("Cosmo", "omsoc"))

False
True

In [70]:
# Palindrome
def palindrome(s1, s2):

  if s1 == s2[::-1]:
    return True

  else:
    return False

print(palindrome("something", "gnihtemos"))
print(palindrome("something", "something"))

False

## 6. Encoding and Decoding Text
Python strings are Unicode. To write them to a file or send them over the network, we need to encode them into bytes.

**Key ideas:**
- `text.encode('utf-8')` → Unicode text → bytes
- `b.decode('utf-8')` → bytes → Unicode text

In [ ]:
text = "Olam עולם"
print("Text:", text)

# Example: encode to UTF-8 bytes
encoded = text.encode("utf-8")
print("Encoded bytes:", encoded)

# TODO:
# 1) Decode the encoded bytes back into a string using utf-8.
# 2) Print the decoded value and check that it matches the original text.

# Note for myself
####FOR NEXT WEEK

## 7. F-Strings Basics
F-strings (formatted string literals) let us embed expressions directly inside strings.

Syntax: `f"Hello, {name}!"`

In [ ]:
name = "Chana"
course = "MCON 141"

# Example:
print(f"Hello, {name}! Welcome to {course}.")

# TODO:
# 1) Create two variables, day and topic.
# 2) Use an f-string to print a friendly message that includes both.
#    Example format (your words): Today is <day> and we are learning <topic>.

In [55]:
# Alignment
align_s = "Duffy"
align_s2 = "Cosmo"

print(f"{align_s:<8} | {align_s2:>8}")

print(f"{46.274627:.2f}")

print(f"{4627:08d}")

print(f"{4627:,}")

print()
print(f"{align_s = } {align_s2 = }")

Duffy    |    Cosmo
46.27
00004627
4,627
align_s = 'Duffy' align_s2 = 'Cosmo'

### 7.1 F-Strings and Field Width
Use field width and alignment for simple tabular output.

In [ ]:
items = [("A", 10), ("B", 200), ("C", 4)]

# Example row format using f-strings:
print("Item  | Value")
print("--------------")

# TODO: In the loop, use an f-string with alignment so that
# the item is left-aligned in a width of 5, and the value is
# right-aligned in a width of 5.
# Hint: {expr:<5} and {expr:>5}

for label, value in items:
    # print(...)
    pass